body{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.sign{
  background: linear-gradient( rgba(48, 48, 48, 0.384), rgba(65, 65, 65, 0.322) ),url('https://images.unsplash.com/photo-1620204082158-ed7780a38d4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2034&q=80') center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}


.sign-subtitle{
  margin: 0;
  color: rgb(107, 107, 107);
  font-weight: 400;
  margin-top:0vw;
  font-size: 0.96vw;
}

.sign-form{
  background: white;
  padding: 5.5vw 9vw;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-inp{
  margin: 0.5vw;
  width:17vw;
  border: 0px solid;
  background: #f7f7f7;
  font-weight: 400;
  border-radius: 6vw;
  font-size: 0.9vw;
  padding: 1.2vw 1.5vw;
  font-family: sf ui med;
  transition: 0.3s all;
  margin: 0.5vw 0vw; 
  outline:none;
}
.sign-form-title{
  font-weight: 700;
  font-size: 3.5vw;
  margin: 0vw;
  margin-bottom: 0.7vw;
}
.sign-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12vw;
  border-radius: 6vw;
  color: white;
  font-size: 0.9vw;
  font-family: 'Inter';
  background: #73A7FF;
  padding: 1.5vw 2.4vw;
  font-weight: 600;
  text-align: center;
  border: 0px solid;
  cursor: pointer;
  transition: 0.3s all;
  outline: none;
}
.sign-button:hover{
  background: black;
}

.app{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
.app-nav{
  width: 80vw;
  display: flex;
  margin-top: 1VW;
  flex-direction: row;
  justify-content: space-between;
}
.app-title{
  color: gray;
}
.logout{
  text-decoration: underline;
  font-size: 0.98vw;
  text-decoration-color: grey;
  cursor: pointer;
}



.app-section{
  width: 70vw;
  margin-top: 2VW;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.app-users{
  display: flex;
  flex-direction: column;
}
.app-users-title{
  font-size: 0.95vw;
  color: gray;
}
.green-dot{
  width: 0.45vw;
  height: 0.45vw;
  border-radius: 3vw;
  background: rgb(102, 187, 102);
  margin-left: 0.7vw;
}
.app-user{
  display: flex;
  font-size: 1vw;
  align-items: center;
  cursor: pointer;
}


.app-chat{
  display: flex;
  width: 50vw;
  flex-direction: column; 
}

.chat-header{
  display: flex;
  align-items: center;
}
.chat-header-name{
  margin: 0;
  margin-top: -0.5vw;
  font-size: 3vw;
  font-weight: 700;
}
.chat-header-mail{
  color: gray;
  font-size: 1vw;
  margin: 0.25vw 0;
}
.chat-header-img{
  width: 4.5vw;
  border-radius: 3vw;
  margin-right: 2vw;
}

.chat-header-status{
  color: gray;
  margin: 0;
  margin-left: 3vw;
}
.chat-message-from{
  display: flex;
}
.chat-from{
  background: #ececec;
  padding: 1vw 2vw;
  display: flex;
  border-radius: 6vw;
  margin: 0.35vw 0;
  font-size: 0.94vw;
}
.chat{
  margin-top: 2vw;
  height: 34vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.chat::-webkit-scrollbar{
  width: 0.3vw;
  background: transparent;
}
.chat::-webkit-scrollbar-thumb{
  background: #ffffff; 
  border-radius: 4vw;

}
.chat-message-to{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.chat-to{
  background: #73A7FF;
  color: white;
  border-radius: 6vw;
  padding: 1.1vw 2vw;
  display: flex;
  font-size: 0.94vw;
  margin: 0.35vw 0;
  margin-right: 0.5vw;
}
.chat-notify{
  color: gray;
  font-size: 0.9vw;
  width: 49vw;
  text-align: right;
  margin: 0;
  margin-right: 0.6vw;
}
.chat-form{
  width: 50vw;
  margin: 0;
  position: fixed;
  bottom: 0vw;
  padding: 0 0 4vw 0;
  z-index: 2;
  background: white;
}
.chat-hr{
  background: #d4d4d4;
  height: 1.5px;
  margin-top: 0;
  border: 0px;
  margin-bottom: 1.5vw;
}
.chat-form-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat-inp{
  border: 0px solid;
  background: #d4d4d4;
  outline: none;
  background: transparent;
  font-size: 1vw;
}
.chat-btn{
  border: 0px solid;
  outline: none;
  cursor: pointer;
  font-size: 1.1vw;
  background: #5191ff;
  padding: 1vw 2vw;
  font-weight: 500;
  border-radius: 2vw;
  color: #ffffff;
}

.chat-empty{
  width: 50vw;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.empty-title{
  font-size: 3vw;
  margin: 1vw;
  color: rgb(0, 0, 0);
}
.empty-sub{
  font-size: 1vw;
  margin: 0vw;
  color: rgb(161, 161, 161);
}

.empty-img{
  margin-top: 4vw;
  margin-bottom: 2vw;
  width: 25vw;
}